\icon.png
\options.txt
\rhino.local.properties
\usercache.json
\usernamecache.json
\emi.json
\win_event1780653059999.txt
\win_event1780898696794.txt
\win_event1781175829592.txt
\win_event1781202783069.txt
\TrashSlotSaveState.json

\coremods
\crash-reports
\data
\datafiedcontents
\defaultconfigs
\etc
\local\crash_assistant
\local\kubejs
\mods\.connector
\mods\.index
\moonlight-global-datapacks
\null
\orespawn
\resourcepacks
\saves
\schematics
\scripts
\server-resource-packs
\shaderpacks
\tacz
\texturepacks
\tmp
\screenshots
\logs
\xaero
\XaeroWaypoints_BACKUP240807
